body{
    background-size: cover;
}

.heading{
    width:100%;
    font-size: 23px;
    font-family: cursive;
    margin: 0px;

}

#start,#noo,#status{
    font-size: 18px;
    font-family: cursive;
}

.crf{
    bottom: 0;
    position: fixed;
    width: 100%;
    font-family: cursive;
    text-align: center;
    background-color: brown;
    color: aquamarine;
    line-height: 2;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}